body {
  font-family : spotify-circular,  Helvetica, Arial, sans-serif;
}
.spotify-main-container {
  width: 100%;
  height: 100%;
  
}

nav {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main {
  height: 968px;
  background-color: rgb(41, 65, 171);
}
footer {
  height: 530px;
  background-color: black;
}

.spotify-logo {
  width: 150px;
}
a {
  color: white;
}

a:hover {
  color:#1ed760;
}

.nav-item{
  padding: 28px 17px;
}