body {
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
.spotify-container {
  width: 100%;
  height: 100%;
}

nav {
  height: 80px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main {
  height: 968px;
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-size: 175%;
  background-position: 46% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify-logo {
  width: 150px;
}
a {
  color: white;
}

a:hover {
  color: #1ed760;
}

.nav-item {
  padding: 28px 17px;
}

.content-container {
}

.headline {
  font-size: 146px;
  line-height: 166px;
  color: #1ed760;
  position: relative;
  font-weight: 900;
  padding-bottom: 40px;
}

.headline-first {
  position: relative;
  left: -2.5em;
}

.sub-headline {
  color: #1ed760;
  font-size: 18px;
  text-align: center;
  padding-bottom: 40px;
}

.spotify-btn {
  padding: 14px 32px;
  background-color: #1ed760;
  border-radius: 50px;
  color: #2941ab;
}

.spotify-btn:hover {
  transform: scale(1.1);
}

.btn-container {
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  height: 530px;
  background-color: black;
  display: flex;
  justify-content: center;
  
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.first-line {
  width: 100%;
  display: flex;
}

.first-line-left {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.column-menu-box{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.menu-title {
  color: #919496;
  font-weight: 900;
  margin: 20px 0px;
}

.menu {
  padding-bottom: 15px;
  padding-top: 3px;
  font-size: 16px;
}

.footer-first-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.icon-circle {
  width: 54px;
  height: 54px;
  background-color: #222322;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.icon{
  font-size: 24px;
}

.icon-circle:hover{
  color: #1ed760;
}


.second-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #919496;
  font-size: 12px;
}



.three-line {
  color: #919496;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.three-line a {
  margin-right: 24px;
  color: #919496;
}

.justify-content {
}
