.flexbox-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

}

.tab-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* height: 80%; */
  gap: 20px;
  
  /* padding: 20px; */
}
.list-items{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-items p{
  padding-left: 10px;
}
.item-vew{
  /* background-color: dimgray; */
  padding-left: 10px;
  border-bottom: 2px solid  dimgray;
}
.back-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: dimgray;
  
}
.flexbox a {
  color: white;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.flexbox-container {
  width: 100%;
  height: 100%;

}

.flexbox {
  width: 100%;
  height: 100%;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

.flex-study-1 {
  display: flex;
  justify-content: space-between;
}

.sub-flexbox {
  display: flex;
  gap: 10px;
}

.flex-study-2 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.flex-study-2 .box2 {
  position: relative;
  top: 100px;
}

.flex-study-2 .box3 {
  position: relative;
  top: 200px;
}

.flex-study-3 {
  position: relative;
  display: flex;
  justify-content: center;
}

.flex-study-3 .box1 {
  display: flex;
  width: 200px;
  height: 200px;
  position: relative;
  top: 20px;
  background-color: rgb(64, 64, 64);
}

.flex-study-3 .box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-study-4 {
  display: flex;
}

.flex-study-4 .box1 {
  position: relative;
}

.flex-study-4 .box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(64, 64, 64);
}

.flex-study-5 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-study-5 .box1 {
  display: flex;
  position: relative;
  width: 400px;
  height: 200px;
  background-color: rgb(64, 64, 64);
}

.flex-study-5 .box2 {
  position: absolute;
  bottom: 0px;
}

.flex-study-5 .box3 {
  position: absolute;
  right: 0px;
}

.flex-study-6 {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;

}
.snow{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.flex-study-6 .circle{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius:100%;
  width: 200px;
  height: 200px;
  border: 3px solid rgb(11, 11, 11);
}

.flex-study-6 .circle-1{
  display: flex;
  flex-direction: column;
  position: relative;
}
/* .flex-study-6 .circle-2{
  background-color: white;

  width: 250px;
  height: 250px;
}
 */

.flex-study-6 .circle-3{
  background-color: white;
  /* border-radius: 50px; */
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mini-circle-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mini-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius:50px;
  width: 20px;
  height: 20px;
}

.mouse{
  border-radius:0px 0px 50px 50px;
  width: 40px;
  height: 20px;
  background-color: red;
  position: absolute;
  bottom: 50px;
}

.muffler{
  position: absolute;
  background-color:  rgb(250, 19, 58);
  border-radius:100px;
  width: 180px;
  height: 50px;
  top: 170px;
}
.hat{
  position: absolute;
  background-color:  rgb(250, 19, 58);
  border-radius:50px 50px 10px 10px;
  width: 120px;
  height: 80px;
  top: -50px;
}

.snow-floor{
  position: relative;
  bottom: 90px;
  width: 100%;
  height: 200px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background-color: whitesmoke;

}


