

.google-main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  padding: 8px;
}

.nav-items{
  display: flex;
  align-items: center;
  
}
.nav-left {
  padding-right: 15px;
}
.nav-item {
  padding-left: 15px;
  cursor: pointer;  
  font : 13px;
}

.nav-item:hover {
  text-decoration: underline;
}
.nav-img{ 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 2px 4px;
  border-radius: 50px;
  cursor: pointer; 
 }

 .nav-img i{
  padding: 8px;

 }

 .user-name{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
   background-color: blueviolet;
   border-radius: 50px;
   padding: 1px;
   width: 32px;
   height: 32px;
   font-size : 13px;
   color: white;
 }

.nav-img:hover {
  background-color: #2021241A;
}

.content-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap:20px;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */

}

.google-logo{
  width: 272px;
  height: 92px;
  margin-bottom: 38px;
  margin-top: 168px;
}
.input-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 561px;
  height: 48px;
  padding: 1px 52px 1px 52px;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.input-box {
 width: 100%;
 height: 100%;
 border: none; 
 padding:  10px;
 background-color: transparent;
 
}

.fa-magnifying-glass{
  position: absolute;
  left: 20px;
  color: #9aa9a6;
}
.fa-microphone{
  position: absolute;
  right: 20px;
  color: #9aa9a6;
}


.plus-btn-container{
  display: flex;
  justify-content: center;
}

.plus-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 112px;
  width: 112px;
  background-color: transparent;
  flex-direction: column;
}
.plus-btn:hover {
  background-color: #2021241A;
}

.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2e7ff;
  border-radius: 50px;
  width: 48px;
  text-align: center;
  height: 48px;
  margin: 16px 28px 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.circle i {
  font-size: 24px;
}


.plus-btn p {
  margin-top: 6px;
  padding: 2px 8px;
}


.set-btn-container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.set-btn{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 32px;
  min-width: 32px;
  padding: 8px 16px;
  color: #c2e7ff;
  background-color: #004a77;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}